<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Boomers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    </sectionGroup>
    <section name="BoomerSites"                 type="Boomers.Config.BoomersSitesDefinitionHandler, Boomers.Config"/>
  </configSections>
  <assemblies>
    <add assembly="System.Web.Abstractions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
  </assemblies>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <applicationSettings>


    <Boomers.Properties.Settings>
      <setting name="Boomers_EmailFeederWS_EmailFeeder" serializeAs="String">
        <value>http://localhost:1253/Utopiapimp/EmailFeeder.asmx</value>
      </setting>
      <setting name="Boomers_OpsGathererWS_OpsGatherer" serializeAs="String">
        <value>http://localhost:1448/UtopiaPimp/OpsGatherer.asmx</value>
      </setting>
      <setting name="Boomers_com_postalmethods_api_PostalWS" serializeAs="String">
        <value>https://api.postalmethods.com/2009-02-26/PostalWS.asmx</value>
      </setting>
    </Boomers.Properties.Settings>
  </applicationSettings>
</configuration>
