<connectionStrings>

  <!--<add name="yafnet" connectionString="Data Source=72.9.150.16;Initial Catalog=pimp;Persist Security Info=True;User ID=pimplogsin;Password=pimplogsin!23;Connect Timeout=200;pooling='true'; Max Pool Size=200"
  providerName="System.Data.SqlClient" />-->
  </connectionStrings>