<appSettings>
 <add key="YAF.BoardID" value="1" />
 <add key="YAF.EnableURLRewriting" value="false" />
 <add key="YAF.DatabaseObjectQualifier" value="yaf_" />
 <add key="YAF.DatabaseOwner" value="dbo" />
 <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml" />
 <add key="YAF.UploadDir" value="~/forum/upload/" />
 <add key="YAF.ProviderKeyType" value="System.Guid" />
 <add key="YAF.Root" value="~/forum" />
 <add key="YAF.BaseUrl" value="~/forum/" />
 <add key="YAF.BaseUrlOverrideDomain" value="false" />
 <add key="YAF.RadEditorSkin" value="Black" />
 <add key="YAF.UseRadEditorToolsFile" value="true" />
 <add key="YAF.RadEditorToolsFile" value="editors/radEditor/toolsFile.xml" />
 <add key="YAF.ConfigPassword" value="yoyo" />
</appSettings>
