<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="rewriter" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" requirePermission="false"/>
  </configSections>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="214748364">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings >
    <add key="YAF.BoardID" value="1" />
    <add key="YAF.EnableURLRewriting" value="false" />
    <add key="YAF.DatabaseObjectQualifier" value="yaf_" />
    <add key="YAF.DatabaseOwner" value="dbo" />
    <add key="YAF.ProviderExceptionXML" value="ProviderExceptions.xml" />
    <add key="YAF.UploadDir" value="~/forum/upload/" />
    <add key="YAF.ProviderKeyType" value="System.Guid" />
    <add key="YAF.Root" value="~/forum" />
    <add key="YAF.BaseUrl" value="~/forum/" />
    <add key="YAF.BaseUrlOverrideDomain" value="false" />
    <add key="YAF.RadEditorSkin" value="Black" />
    <add key="YAF.UseRadEditorToolsFile" value="true" />
    <add key="YAF.RadEditorToolsFile" value="editors/radEditor/toolsFile.xml" />
    <add key="YAF.ConfigPassword" value="yoyo" />

    <add key="WORLD_OF_LEGENDS_START_DATE" value="10/13/2014 06:01 PM"/>
    <add key="WORLD_OF_LEGENDS_OLD_START_DATE" value="02/10/2012 05:01 PM"/>
    <add key="GENERATIONS_START_DATE" value="04/06/2009 12:01 AM"/>
  </appSettings>
  <rewriter configSource="URLRewriter.config"/>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\BoomersMembership_Data.mdf;Integrated Security=True;Connect Timeout=30;"
     providerName="System.Data.SqlClient" />
    <add name="yafnet" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\pimpTest_Data.mdf;Integrated Security=True;Connect Timeout=30;"
     providerName="System.Data.SqlClient" />
    <add name="UPConnectionString" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\pimpTest_Data.mdf;Integrated Security=True;Connect Timeout=30;"
     providerName="System.Data.SqlClient" />
    <add name="pimpTest_DataConnectionString" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\pimpTest_Data.mdf;Integrated Security=True;"
     providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <machineKey validationKey="B137DE3DDB991D08239074C64E7A9F3DE1E83763CDF6F2892C8074EB519DC9549EA08723E59D61AC1AA931EEFAB43A58BAF4067FB1ADC63D776D893191363B44" decryptionKey="494DC79951CD3A7A54A282B2A0C4A9A6E2F718304AA6C71B8DD442B1B1743AB0" validation="SHA1" decryption="AES"/>
    <httpRuntime executionTimeout="600" maxRequestLength="8192" requestLengthDiskThreshold="8192" useFullyQualifiedRedirectUrl="true" enable="true"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <membership defaultProvider="AspNetSqlMembershipProvider" hashAlgorithmType="SHA1">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="2147483647" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression=""/>
        <add name="AdminMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="/" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="^(?=.*\d).{4,8}$"/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" defaultProvider="AspNetSqlRoleProvider" createPersistentCookie="false">
      <providers>
        <clear/>
        <add connectionStringName="LocalSqlServer" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
    </roleManager>
    <profile defaultProvider="AspNetSqlProvider" automaticSaveEnabled="false" enabled="true" inherits="YAF.Classes.Utils.YafUserProfile">
      <properties>
        <add name="ThemePreference" type="string" defaultValue="Default"/>
        <add name="StartingProvince" type="string" defaultValue=""/>
        <!--<add name="StartingKingdom" type="string" defaultValue=""/>-->
        <add name="OwnerKingdomID" type="string" defaultValue=""/>
      </properties>
      <providers>
        <clear/>
        <add connectionStringName="LocalSqlServer" applicationName="/" name="AspNetSqlProvider" type="System.Web.Profile.SqlProfileProvider"/>
      </providers>
    </profile>
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" defaultUrl="Default.aspx" timeout="525600"/>
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <!-- Default: use non-dynamic (compiled classes) in YAF -->
        <add tagPrefix="YAF" namespace="YAF.Classes.UI" assembly="YAF.Classes.UI"/>
        <add tagPrefix="YAF" namespace="YAF.Classes.Utils" assembly="YAF.Classes.Utils"/>
        <add tagPrefix="YAF" namespace="YAF.Classes.Data" assembly="YAF.Classes.Data"/>
        <add tagPrefix="YAF" namespace="YAF.Controls" assembly="YAF.Controls"/>
        <add tagPrefix="YAF" namespace="YAF.Controls.Statistics" assembly="YAF.Controls"/>
        <!-- Optional: use dynamic classes in YAF by moving all the YAF.x directories (YAF.Classes.*, YAF.Providers)
						into the App_Code\YAF directory. Delete the associated .dll files from the \bin directory. Comment out the above 
						"non-dynamic" namespaces above and enable these: 
				-->
        <!--<add tagPrefix="YAF" namespace="YAF.Classes.UI" />
				<add tagPrefix="YAF" namespace="YAF.Classes.Utils" />
				<add tagPrefix="YAF" namespace="YAF.Classes.Data" />
				<add tagPrefix="YAF" namespace="YAF.Controls" />
				<add tagPrefix="YAF" namespace="YAF.Controls.Statistics" />-->
        <add tagPrefix="YAF" namespace="YAF.Classes"/>
        <add tagPrefix="YAF" namespace="YAF"/>
        <add tagPrefix="editor" namespace="YAF.Editor"/>
      </controls>
      <namespaces>
        <add namespace="YAF"/>
        <add namespace="YAF.Classes.UI"/>
        <add namespace="YAF.Classes.Utils"/>
        <add namespace="YAF.Controls"/>
        <add namespace="YAF.Classes.Data"/>
      </namespaces>
    </pages>
    <httpModules>
      <!--<remove name="ScriptModule"/>-->
      <add name="YafInitModule" type="YAF.Classes.Base.YafInitModule, YAF.Classes.Base"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="CacheManager.axd" type="AspAlliance.CacheManager.CacheManagerPageFactory,AspAlliance.CacheManager"/>
    </httpHandlers>
    <sessionState timeout="90"/>
  </system.web>
  <location path="CacheManager.axd">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>

    </system.web>
  </location>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules>
      <add name="YafInitModule" type="YAF.Classes.Base.YafInitModule, YAF.Classes.Base"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Visual.Enterprise.ASPNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <codeBase version="8.0.0" href="file://c:/Program Files/Microsoft Visual Studio 8/common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.ASPNetHelper.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMobileUtilities">
          <!-- Content of each XML element can be up to 10 million characters. -->
          <readerQuotas maxStringContentLength="10000000" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="Server.MobileUtilities">
        <endpoint address="http://utopiapimp.com/services/MobileUtilities.svc"
                  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMobileUtilities"
                  contract="ServiceReferences.IMobileUtilities" />
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
